{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import-newlines",
    "newline-destructuring",
    "perfectionist",
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "extends": [
    "plugin:perfectionist/recommended-natural",
    "standard",
    "standard-with-typescript",
    "standard-jsx"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "jest": true
  },
  "rules": {
    "@typescript-eslint/array-type": ["error", {
      "default": "array"
    }],
    "import-newlines/enforce": [
      "error",
      {
        "items": 13,
        "max-len": 120
      }
    ],
    "newline-destructuring/newline": [
      "error",
      {
        "items": 1
      }
    ],
    "perfectionist/sort-objects": [
      "error",
      {
        "partition-by-comment": true
      }
    ],
    "perfectionist/sort-named-imports": "off",
    "perfectionist/sort-imports": "off",
    "@typescript-eslint/prefer-nullish-coalescing": "off",
    "@typescript-eslint/no-confusing-void-expression": "off",
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/no-dynamic-delete": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/comma-dangle": "off",
    "no-redeclare": "off",
    "react/no-string-refs": "off",
    "no-new": "off",
    "no-unused-vars": "off",
    "no-useless-constructor": "off",
    "one-var": "off",
    "react/jsx-key": "off",
    "import/no-absolute-path": "off",
    "react/no-children-prop": "off",
    "comma-dangle": ["error", "always-multiline"],
    "react/jsx-closing-bracket-location": ["error", {
      "nonEmpty": "after-props"
    }],
    "simple-import-sort/imports": ["error", {
      "groups": [
        ["^\\u0000"],
        ["^innet$", "^@?\\w"],
        ["^"],
        ["^\\.+(/[^/.]+|/[^.]+/[^/.]+)$"],
        ["^\\..+"],
        ["^\\.$"],
        ["^\\..+.s?css$"]
      ]
    }]
  }
}
